openapi: 3.2.0
info:
  title: iGaming Tools Stats API
  version: 1.0.0
  description: 'Public REST API for iGaming data: slot providers, slots, news, jobs, sources.'
  termsOfService: https://i-gaming.tools/terms/
  contact:
    name: iGaming Tools support
    email: support@i-gaming.tools
    url: https://i-gaming.tools/docs/
  license:
    name: Terms of Service
    url: https://i-gaming.tools/terms/
servers:
- url: https://i-gaming.tools
tags:
- name: Stats
paths:
  /api/v1/stats/:
    get:
      operationId: stats_retrieve
      description: Aggregate stats for landing/dashboard display. Free — this endpoint does not count against your quota. Cached server-side; values can be up to 60 minutes old.
      summary: Public aggregate statistics
      tags:
      - Stats
      security:
      - TokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  sources_count:
                    type: integer
                    description: Enabled parsing sources.
                  brands_count:
                    type: integer
                    description: Public brands.
                  articles_count_approx:
                    type: integer
                    description: ±5% approximate.
                  computed_at:
                    type: string
                    format: date-time
          description: Success.
          headers:
            X-Quota-Free-Remaining:
              $ref: '#/components/headers/XQuotaFreeRemaining'
            X-Quota-Paid-Balance:
              $ref: '#/components/headers/XQuotaPaidBalance'
            X-Quota-Resets-At:
              $ref: '#/components/headers/XQuotaResetsAt'
        '401':
          $ref: '#/components/responses/Err401'
        '429':
          $ref: '#/components/responses/Err429WithQuota'
components:
  headers:
    XQuotaFreeRemaining:
      schema:
        type: integer
      description: Remaining monthly free-tier requests for the caller.
    XQuotaPaidBalance:
      schema:
        type: integer
      description: Remaining paid balance (requests) for the caller.
    XQuotaResetsAt:
      schema:
        type: string
        format: date-time
      description: ISO-8601 UTC timestamp of the next monthly quota reset.
    RetryAfter:
      schema:
        type: integer
      description: Seconds to wait before retrying.
  responses:
    Err429WithQuota:
      description: Too Many Requests — technical per-user rate limit exceeded.
      content:
        application/json:
          schema:
            type: object
            properties:
              detail:
                type: string
              code:
                type: string
          examples:
            default:
              value:
                detail: Request was throttled. Try again later.
                code: throttled
      headers:
        Retry-After:
          $ref: '#/components/headers/RetryAfter'
        X-Quota-Free-Remaining:
          $ref: '#/components/headers/XQuotaFreeRemaining'
        X-Quota-Paid-Balance:
          $ref: '#/components/headers/XQuotaPaidBalance'
        X-Quota-Resets-At:
          $ref: '#/components/headers/XQuotaResetsAt'
    Err401:
      description: Unauthorized — missing or invalid API token.
      content:
        application/json:
          schema:
            type: object
            properties:
              detail:
                type: string
              code:
                type: string
          examples:
            default:
              value:
                detail: Authentication credentials were not provided.
                code: unauthorized
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token <hex>. Create a free account and issue your own key at /account/; the key is shown once, at creation. Free tier included, no card required.
externalDocs:
  url: https://i-gaming.tools/docs/
  description: Guides, reference and code examples
